@keyframes yuanzhou {
  0% {
    transform: translate(20px, 0px);
  }
  5% {
    transform: translate(19.02113033px, 6.18033989px);
  }
  10% {
    transform: translate(16.18033989px, 11.75570505px);
  }
  15% {
    transform: translate(11.75570505px, 16.18033989px);
  }
  20% {
    transform: translate(6.18033989px, 19.02113033px);
  }
  25% {
    transform: translate(0px, 20px);
  }
  30% {
    transform: translate(-6.18033989px, 19.02113033px);
  }
  35% {
    transform: translate(-11.75570505px, 16.18033989px);
  }
  40% {
    transform: translate(-16.18033989px, 11.75570505px);
  }
  45% {
    transform: translate(-19.02113033px, 6.18033989px);
  }
  50% {
    transform: translate(-20px, 0px);
  }
  55% {
    transform: translate(-19.02113033px, -6.18033989px);
  }
  60% {
    transform: translate(-16.18033989px, -11.75570505px);
  }
  65% {
    transform: translate(-11.75570505px, -16.18033989px);
  }
  70% {
    transform: translate(-6.18033989px, -19.02113033px);
  }
  75% {
    transform: translate(0px, -20px);
  }
  80% {
    transform: translate(6.18033989px, -19.02113033px);
  }
  85% {
    transform: translate(11.75570505px, -16.18033989px);
  }
  90% {
    transform: translate(16.18033989px, -11.75570505px);
  }
  95% {
    transform: translate(19.02113033px, -6.18033989px);
  }
  100% {
    transform: translate(20px, 0px);
  }
}
